langchain==1.2.6
langchain_core==1.2.7
langchain_community
langchain-classic
langchain-text-splitters
langchain-groq
langchain-google-genai
faiss-cpu
python-dotenv
PyMuPDF
pypdf
structlog
ipykernel
pandas
-e .